.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.*
pubspec.lock
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
android/.gradle/
android/.idea/
*.iml
.idea/
.vscode/
